.footerRow {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}
.footerRow a,.footer___langbtn {
  text-decoration: none;
  color: rgba(65, 41, 102, 0.68);
  font-size: 0.875rem;
  font-weight: 500;
}
.footerRow button {
  transform: translateY(-19px);
}
/* .footerRow img {
  width: 40%;
  height: 70%;
} */
.langimg{
  width: 20px;
  height: 20px;
}
.footer_img {
  transform: translateY(-10px);
}
.footer_img img{
  width: 40% !important;
}
.footerRow p {
  font-size: var(--mainFontSize);
  color: rgba(43, 43, 43, 1);
  font-weight: 400;
}
.secpp {
  transform: translateX(-121px);
}
.fristpp {
  transform: translateX(20%);
}
.brak {
  width: 87%;
  background-color: rgb(128, 128, 128, 0.5);
  height: 1px;
  transform: translateX(-97px);
}
body.ltr .secpp {
  transform: translateX(61%) !important;
}
body.ltr .fristpp {
  transform: translateX(21%) !important;
}
/* mediaQuery */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .footerRow {
    width: 470px;
    transform: translateX(-10px);
  }
  .footer__links,
  .footer_img {
    justify-content: center;
  }
  .footerRow .logo {
    width: 120px;
  }
  .footerRow img {
    width: 40%;
    height: 80%;
  }
  .secpp {
    transform: translateX(16px);
  }
  .fristpp {
    transform: translateX(-3%);
  }
  .footerRow a {
    font-size: 12px;
  }
  .brak {
    width: 50%;
    background-color: rgb(128, 128, 128, 0.5);
    height: 1px;
    transform: translateX(-97px);
  }
}
@media screen and (min-width: 480px) and (max-width: 568px) {
  .footerRow {
    width: 490px;
  }
  .footer__links,
  .footer_img {
    justify-content: center;
  }
  .footerRow .logo {
    width: 120px;
  }
  .footerRow img {
    width: 40%;
    height: 80%;
  }
  .secpp {
    transform: translateX(16px);
  }
  .fristpp {
    transform: translateX(-3%);
  }
  .footerRow a {
    font-size: 12px;
  }
  .langimg{
    width: 20px !important;
    height: 20px !important;
   
  }
  .footer___langbtn{
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 568px) and (max-width: 768px) {
  .footerRow {
    width: 540px;
  }
  .footer__links,
  .footer_img {
    justify-content: center;
  }
  .footerRow .logo {
    width: 120px;
  }
  .footerRow img {
    width: 40%;
    height: 80%;
  }
  .secpp {
    transform: translateX(16px);
  }
  .fristpp {
    transform: translateX(-3%);
  }
  .footerRow a {
    font-size: 12px;
  }
  .langimg{
    width: 20px !important;
    height: 20px !important;
   
  }
  .footer___langbtn{
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footerRow {
    width: 720px;
  }
  .footer__links,
  .footer_img {
    justify-content: center;
  }
  .footerRow .logo {
    width: 120px;
  }
  .footerRow img {
    width: 40%;
    height: 60%;
  }
  .secpp {
    transform: translateX(16px);
  }
  .fristpp {
    transform: translateX(-3%);
  }
  .footerRow a {
    font-size: 12px;
  }
}
