#howApp__work{
    background-color: var( --sectionColor);
}
#howApp__work h5{
  font-weight: 500;
}
#howApp__work p{
  font-weight: 400;
}
.qsalary__work h6 {
  font-size: var(--mainFontSize);
  color: var(--sectionheaderColor);
}
.qsalary__work p {
  font-size:2rem;
  color: var(--sectionheaderColor);

}
/* mediaQuery */
@media screen and (min-width: 320px) and (max-width: 480px) {
  #howApp__work{
    width: 470px;
    transform: translateX(-15px);
  }
  .qsalary__work h6 {
    font-size:14px;
  }
  .qsalary__work p {
    font-size:28px;
  
  }
  .benefits___container h5{
    font-size: 20px;
  }
  .benefits___container p{
    font-size: 14px;
  }
}
@media screen and (min-width: 480px) and (max-width: 568px) {
  #howApp__work{
    width: 100%;
  }
  .qsalary__work h6 {
    font-size:14px;
  }
  .qsalary__work p {
    font-size:28px;
  
  }
  .benefits___container h5{
    font-size: 20px;
  }
  .benefits___container p{
    font-size: 14px;
  }
}
@media screen and (min-width: 568px) and (max-width: 768px) {
  #howApp__work{
    width: 100%;
  }
  .qsalary__work h6 {
    font-size:14px;
  }
  .qsalary__work p {
    font-size:28px;
  
  }
  .benefits___container h5{
    font-size: 20px;
  }
  .benefits___container p{
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #howApp__work{
    width: 100%;
  }
  .qsalary__work h6 {
    font-size:12px;
  }
  .qsalary__work p {
    font-size:25px;
  
  }
  .benefits___container h5{
    font-size: 20px;
  }
  .benefits___container p{
    font-size: 14px;
  }
}